/*
Theme Name:     Ronneby Child Theme
Theme URI: 		http://themes.dfd.name/ronneby/
Description:    ronneby - Highly Functional Multifaceted WP Theme
Author:         DFD
Author URI:		http://wpsaloon.com/
Template:       ronneby
Version:        1.0.0
*/
/* line 5, ../scss/base/_base.scss */
.main {
  padding-top: 25px;
}

/* line 1, ../scss/layout/_blocks.scss */
google-map {
  height: 500px;
}

/* line 3, ../scss/layout/_page.scss */
div.userinfo {
  float: left;
  margin: 0 auto;
  border-bottom: 3px solid #ED7442;
  border-radius: 5px;
  padding: 25px 50px 50px;
  width: 100%;
  background: #f7f6f6;
}
/* line 12, ../scss/layout/_page.scss */
div.userinfo .col-sm-12:first-of-type {
  margin-bottom: 25px;
  float: left;
}
/* line 18, ../scss/layout/_page.scss */
div.userinfo .col-sm-12:nth-of-type(2) .col-sm-10 {
  background: #fbfbfb;
  border-radius: 5px;
  margin-top: 15px;
}
/* line 25, ../scss/layout/_page.scss */
div.userinfo .col-sm-12:nth-of-type(2) .col-sm-10 span:first-of-type {
  border-bottom: 1px solid #D9D9DC;
}
/* line 29, ../scss/layout/_page.scss */
div.userinfo .col-sm-12:nth-of-type(2) .col-sm-10 span strong {
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 400;
}
/* line 37, ../scss/layout/_page.scss */
div.userinfo .col-sm-12:nth-of-type(2) .col-sm-2 {
  padding-left: 0;
}
/* line 40, ../scss/layout/_page.scss */
div.userinfo .col-sm-12:nth-of-type(2) .col-sm-2 span.img_wrap {
  background-color: #D9D9DC;
  float: left;
  border-radius: 5px;
  margin-right: 15px;
  padding: 5px;
}
/* line 47, ../scss/layout/_page.scss */
div.userinfo .col-sm-12:nth-of-type(2) .col-sm-2 span.img_wrap img {
  width: 100%;
  height: auto;
}
/* line 55, ../scss/layout/_page.scss */
div.userinfo span {
  margin: 15px 0;
  float: left;
  width: 100%;
}
/* line 61, ../scss/layout/_page.scss */
div.userinfo input[type=submit] {
  background-color: #ED7442;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 15px;
}
/* line 70, ../scss/layout/_page.scss */
div.userinfo input[type=submit]:hover {
  background-color: #EA4535;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 76, ../scss/layout/_page.scss */
div.userinfo input[type=text] {
  padding: 15px 25px;
  border-radius: 5px;
  border: 1px solid #D9D9DC;
}
/* line 82, ../scss/layout/_page.scss */
div.userinfo strong {
  margin-bottom: 25px;
  float: left;
}

/* line 1, ../scss/layout/_nav.scss */
.navbar {
  padding-top: 15px;
}
/* line 4, ../scss/layout/_nav.scss */
.navbar img {
  float: left;
  max-width: 50px;
  height: auto;
}
/* line 10, ../scss/layout/_nav.scss */
.navbar .navbar-brand {
  color: #F0673A;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 15px;
}
