<link rel="import" href="bower_components/polymer/polymer.html">

<dom-module id="mxit-info">

  <style>
    h1 {
      color: blue;
    }
  </style>
  <template>

  <div class="userinfo">
  <div class="col-sm-12">
  <input type="text" placeholder="USER ID" value="{{inputValue::input}}">
  <input class="submit" type="submit" value="SUBMIT"> 
  </div>
  
  <div class="col-sm-12 hide">
  <div class="col-sm-2">
  <span class="img_wrap"><img src="http://api.mxit.com/user/public/avatar/{{inputValue}}"></span>
  </div>
  <div class="col-sm-10">
    <span><strong>Display Name : </strong><iframe width="100%" height="50px" style="border:0;" src="http://api.mxit.com/user/public/displayname/{{inputValue}}"> </iframe></span>
  <span><strong>Status Message : </strong><iframe width="100%" height="50px" style="border:0;" src="http://api.mxit.com/user/public/statusmessage/{{inputValue}}"> </iframe></span>
  </div>
  </div>
  </div>

  </template>
</dom-module>

<script>

  Polymer({

    is: "mxit-info",


  });

</script>
