// ==========================================================================
// Global Config
// ==========================================================================

/*
Theme Name:     Ronneby Child Theme
Theme URI: 		http://themes.dfd.name/ronneby/
Description:    ronneby - Highly Functional Multifaceted WP Theme
Author:         DFD
Author URI:		http://wpsaloon.com/
Template:       ronneby
Version:        1.0.0
*/


// Font Stacks

$font-family--primary    : "Datsun", 'Open Sans', Helvetica, Arial, sans-serif;	
// $font-family--secondary  : 'amatic SC', Open Sans, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

// Descriptive Base Colors

$brandBase			: #2d2d2d;

$brandRed			: #F31722;
$brandBlack			: #030303;

$brandGrey-Light	: #EEEDEE;
$brandGrey			: #353535;
$brandGrey-medium	: #424242;
$brandGrey-Dark		: #292929;

$brandBlue 			: #1772A3;
$brandBlue-Dark		: #032165;
$brandBlue-Light	: #09659B;

// Text

$base__font-size : 22px;
$base__line      : 24px;
$letter-space    : 1px;


// Transitions

$trns-duration  : .3s;

// Breakpoints

$brkpoint-base		: 1px;
$brkpoint-iphone 	: 320px;
$brkpoint-galaxy	: 360px;
$brkpoint-iphone6	: 375px;
$brkpoint-phone 	: 480px;
$brkpoint-tablet	: 768px;
$brkpoint-desktop	: 992px;
$brkpoint-large		: 1300px;
$brkpoint-xlarge	: 1550px;
