// ==========================================================================
// Mixins
// ==========================================================================

// BEM selectors

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}
@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

// Media queries

@mixin mq($break) {
  @if $break == "iphone" {
    @media (max-width: $brkpoint-iphone +1) {
      @content;
    }
  }
  @else if $break == "phone" {
    @media (max-width: $brkpoint-phone + 1) {
      @content;
    }
  }
  @else if $break == "tablet" {
    @media (max-width: $brkpoint-tablet + 1) {
      @content;
    }
  }
  @else if $break == "desktop" {
    @media (max-width: $brkpoint-desktop + 1) {
      @content;
    }
  }
  @else if $break == "large" {
    @media (max-width: $brkpoint-large + 1) {
      @content;
    }
  }
  @else if $break == "xlarge" {
    @media (max-width: $brkpoint-xlarge + 1) {
      @content;
    }
  }
  
  @else if $break == "iphone4" {
    @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2) {
      @content;
    }
  }

  @else if $break == "iphone4" {
    @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      @content;
    }
  }

  @else if $break == "iphone5" {
     @media only screen 
      and (min-device-width: 320px) 
      and (max-device-width: 568px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: portrait){
        @content;
    }
  }

  @else if $break == "iphone6" {
  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      @content;
    }
  }

  @else if $break == "iphone6p" {
  @media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
      @content;
    }
  }



 

   @else {
    @error "Whoops! No value could be retrieved for `#{$break}`. "
  }
}

// Media Queries Landscape

@mixin mql($break) {
  @if $break == "iphone" {
    @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
      @content;
    }
  }

  @else if $break == "iphone5" {
    @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
      @content;
    }
  }


  @else if $break == "iphone6" {

  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
      @content;
    }
  }


  @else if $break == "iphone6p" {
    @media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
      @content;
    }
  }

    @else if $break == "ipadmini" {
   @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1)  {
      @content;
    }
  }

    @else if $break == "ipad" {
  @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
   {
      @content;
    }
  }

  @else {
    @error "Whoops! No value could be retrieved for `#{$break}`. "
  }
} 


// Media Queries Min

@mixin mqm($break) {
  @if $break == "iphone" {
    @media (min-width: $brkpoint-iphone +1) {
      @content;
    }
  }
  @else if $break == "galaxy" {
    @media (min-width: $brkpoint-galaxy +1) {
      @content;
    }
  }
  @else if $break == "iphone6" {
    @media (min-width: $brkpoint-iphone6 +1) {
      @content;
    }
  }
  @else if $break == "phone" {
    @media (min-width: $brkpoint-phone + 1) {
      @content;
    }
  }
  @else if $break == "tablet" {
    @media (min-width: $brkpoint-tablet + 1) {
      @content;
    }
  }
  @else if $break == "desktop" {
    @media (min-width: $brkpoint-desktop + 1) {
      @content;
    }
  }
  @else if $break == "large" {
    @media (min-width: $brkpoint-large + 1) {
      @content;
    }
  }
  @else if $break == "xlarge" {
    @media (min-width: $brkpoint-xlarge + 1) {
      @content;
    }
  }
   @else {
    @error "Whoops! No value could be retrieved for `#{$break}`. "
  }
}

// Transparent Background
@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}