.navbar {
	padding-top: 15px;

	img {
		float: left;
		max-width: 50px;
		height: auto;
	}

	.navbar-brand {
		color: #F0673A;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 12px;
		margin-left: 15px;
	}
}
