// User Info

div.userinfo {
	float: left;
	margin: 0 auto;
	border-bottom: 3px solid #ED7442;
	border-radius: 5px;
	padding: 25px 50px 50px;
	width: 100%;
	background: #f7f6f6;

	.col-sm-12:first-of-type {
		margin-bottom: 25px;
		float: left;
	}

	.col-sm-12:nth-of-type(2){
		.col-sm-10 {
			background: #fbfbfb;
		    border-radius: 5px;
		    margin-top: 15px;

			span {
				
				&:first-of-type {
					border-bottom: 1px solid #D9D9DC;
				}

				strong {
						color: #a0a0a0;
					    font-size: 14px;
					    font-weight: 400;
				}
			}
		}

		.col-sm-2 {
			padding-left: 0;

			span.img_wrap {
				background-color: #D9D9DC;
				float: left;
			    border-radius: 5px;
			    margin-right: 15px;
			    padding: 5px;

			    img {
			    	width: 100%;
			    	height: auto;
			    }
			}
		}
	}

	span {
		    margin: 15px 0;
		    float: left;
		    width: 100%;
	}

	input[type=submit] {
		    background-color: #ED7442;
		    border: none;
		    padding: 15px 25px;
		    border-radius: 5px;
		    color: white;
		    @include transition(0.5s);
		    margin-left: 15px;

		    &:hover {
		    	background-color: #EA4535;
		    	@include transition(0.5s);
		    }
	}

	input[type=text]{
		padding: 15px 25px;
		border-radius: 5px;
		border: 1px solid #D9D9DC;
	}

	strong {
		margin-bottom: 25px;
		float: left;
	}
}
